<h2 mat-dialog-title>Guide Registration</h2>
<div mat-dialog-content>
  <div>
    <form [formGroup]="regGuideForm" (ngSubmit)="submitForm()" novalidate>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <input matInput placeholder="First Name" formControlName="fname">
            <mat-error *ngIf="regGuideForm.controls['fname'].hasError('required')">
              FirstName is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['fname'].hasError('minlength')">
              Minimum 5 characters <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['fname'].hasError('maxlength')">
              Maximum 9 characters <strong>allowed</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Last Name" formControlName="lname">
            <mat-error *ngIf="regGuideForm.controls['lname'].hasError('required')">
              LastName is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['lname'].hasError('minlength')">
              Minimum 5 characters <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['lname'].hasError('maxlength')">
              Maximum 9 characters <strong>allowed</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="regGuideForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="fill">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="regGuideForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['password'].hasError('minlength')">
              Minimum 4 characters <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['password'].hasError('maxlength')">
              Maximum 9 characters <strong>allowed</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Phone" formControlName="phone">
            <mat-error *ngIf="regGuideForm.controls['phone'].hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regGuideForm.controls['phone'].hasError('pattern')">
              Number is <strong>not valid</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
              [min]="minDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Course</mat-label>
            <mat-select formControlName="course">
              <mat-option *ngFor="let c of courses" [value]="c">
                {{c}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <form [formGroup]="techGuideForm" (ngSubmit)="submitForm()" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Technology</mat-label>
            <mat-select formControlName="techs" multiple>
              <mat-option *ngFor="let tech of techList" [value]="tech.id">{{tech.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        </div>
          </div>
    </form>
  </div>

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="submitForm()" [disabled]="regGuideForm.invalid" color="primary">Register</button>
</div>